<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="../assets/imagenes/icon.png">
            </div>

            <form class="col-12" id="form-validar" name="form-validar">
                <div class="form-group">
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Ingrese email...">
                </div>
                <div class="form-group">
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese contraseña...">

                </div>
                <button class="btn" [disabled]="checkEmptyInputs()" (click)="OnSubmitLogin()"><i class="fas fa-sign-in-alt"></i>Ingresar</button><br>
                <small style="color:grey;">*completar campos obligatoriamente</small>
            </form>
            <br>
        </div>
    </div>
</div>

<div *ngIf="mostrarAlert" class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <!-- <strong>Holy guacamole!</strong> You should check in on some of those fields below. -->
                <strong>ERROR! </strong> {{mensajeAlert}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="noMostrarAlert()">
                            <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<div class="footer">
    <p>Creado por: Emanuel Villamayor</p>
    <p>Contactarse con: <a href="https://es-la.facebook.com/" target="_blank">
        manuvillamayor3@gmail.com</a>.</p>
</div>