Nombre: <input type="text" id="nombre" name="nombre"  [(ngModel)]="nombre"><br>

Email:<input type="email" id="apellido" name="email" [(ngModel)]="email"><br>

<!-- Sexo:<select [(ngModel)]="opcionSexo" name="opcionSexo" (change)="ngCapturar( $event )">
    <option selected="true" disabled="disabled">seleccione el sexo</option>
    <option value="F">F</option>
    <option value="M">M</option>
    <option value="O">O</option>
</select><br> -->
<button (click)="ngCargar()">Enviar</button><br>




