<!-- <button (click)="ngCargarLista()">Mostrar paises</button> -->
<button (click)="ngCargarLista()" mat-flat-button color="primary">Mostrar Paises</button>
<div *ngIf="mostrarLista ==true">
    <!--Sin ANGULAR MATERIAL
      
    <table class="egt" border=3>
        <thead>
            <th>Pais</th>
            <th>Capital</th>
            <th>Region</th>
            <th>Poblacion</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of arrayPaises">
                <td>{{item.name}}</td>
                <td>{{item.capital}}</td>
                <td>{{item.region}}</td>
                <td>{{item.population}}</td>
            </tr>
        </tbody>
    </table>-->
    <table mat-table [dataSource]="arrayPaises" class="mat-elevation-z8">
    </table>
</div>