Cargar auto: <br> Marca:<input type="text" id="marca" name="marca" [(ngModel)]="marca"><br> Tipo: <input type="text" id="tipo" name="tipo" [(ngModel)]="tipo"><br> Modelo: <input type="number" id="modelo" name="modelo" [(ngModel)]="modelo"><br> Color:
<input type="text" id="color" name="color" [(ngModel)]="color"><br>

<br><br>
<button (click)="cargarAuto()">Enviar</button><br>
<input type="file" (change)="leerArchivo($event)" value="archivo">

<!-- <input type="file" (change)="subirArchivo($event)" value="archivo"> -->