<!--Con la interpolacion  y colocando dentro el nombre del atributo de ts obtenemos el contenido-->
<!--<p>Hola {{name}}</p>-->

<!--Accedemos a las PROPIEDADES con los corchetes para obtener el contenido de las variables en ts-->
<!--<img [src]="src"   [width]="width" [height]="300">-->


<!--El (cargar) vendria a ser el nombre del "@Output" que enviamos desde "form.ts" y el "ngProcesarCarga($event)" va a ser el metodo
    por el cual vamos a poder acceder a lo que nos envio el form desde nuestro "saludar.ts"
-->

<app-form (cargar)="ngProcesarCarga($event)"></app-form>

<!--En el [listado] va a ser nuestro "@Input" desde "datos.ts" (claseHija) al cual le vamos a enviar datos
    desde la clase padre , y el "Listado" donde vamos a guardar lo que queremos enviar a datos desde nuestro "saludar.ts"
    en este caso seria un array de objetos-->
<app-datos [mostrar]="mostrar"></app-datos>

<!--Llamo al componente que me va a mostrar la tabla de paises obtenidos desde http-->
<app-paises ></app-paises>
