Email:<input type="email" id="apellido" name="email" [(ngModel)]="email"><br> password: <input type="text" id="password" name="password" [(ngModel)]="password"><br>



<!-- Sexo:<select [(ngModel)]="opcionSexo" name="opcionSexo" (change)="ngCapturar( $event )">
    <option selected="true" disabled="disabled">seleccione el sexo</option>
    <option value="F">F</option>
    <option value="M">M</option>
    <option value="O">O</option>
</select><br> -->
<button (click)="ngCargar()">Enviar</button><br>